POSTGRES_USER=prpg06
POSTGRES_PASSWORD=prpg06
POSTGRES_DB=prpg06

CLIENT_PORT=3000
SERVER_PORT=4000
DB_PORT=5432

CLIENT_URL=http://localhost:3000
REACT_APP_API_URL=http://localhost:4000/api

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

EMAIL=
PASSWORD=
MAILTRAP_ENDPOINT=
MAILTRAP_TOKEN=
