PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://prpg06:prpg06@localhost:5432/prpg06?schema=public
CLIENT_URL=http://localhost:3000

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

EMAIL=
PASSWORD=
MAILTRAP_ENDPOINT=
MAILTRAP_TOKEN=
